POSTGRES_USER=payments
POSTGRES_PASSWORD=payments
POSTGRES_DB=payments

APP_DATABASE_URL=postgresql+asyncpg://payments:payments@postgres:5432/payments
APP_RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
APP_API_KEY=secret-api-key
WEBHOOK_URL=http://0.0.0.0:9000
